<div class="signup-grid">

  <div class="container" id="canvas-side-widget">
    <ul>
      <li>
        <a href="#">Wood Moisture Measurement</a>
      </li>
      <li>
        <a href="#">Water Loss Measurement</a>
      </li>
      <li>
        <a href="#">High Voltage Test Equipment</a>
      </li>
      <li>
        <a href="#">Data logging</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <h2>This is a Canvas element</h2>
    <hr>
    <canvas id="myCanvas">

    </canvas>

  </div>

</div>
