<!-- Load font awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a href="#home">Home</a>
  <div class="subnav" id="products">
    <button class="subnavbtn">Products <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#">Network Monitoring</a>
      <a href="#">Flow Recording</a>
      <a href="#">Pressure/Level Logging</a>
      <a href="#">Data Logging</a>
      <a href="#">Leak Detection</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Downloads <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#">Flyer</a>
      <a href="#">Leaflet</a>
      <a href="#">Presentation</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">About Us <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#">Contact</a>
      <a href="#">Location</a>
      <a href="#">References</a>
      <a href="#">Press</a>
      <a href="#">Distributors</a>
    </div>
  </div>
  <a href="#">Picture Gallery</a>
  <div class="subnav">
    <button class="subnavbtn">Language <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#">Deutsch</a>
      <a href="#">English</a>
    </div>
  </div>
</div>