<% include partials/header %>

<% include partials/navbar %>
<% include partials/sidebtn %>

<% include partials/title %>

<% include partials/product %>
<% include partials/canvas %>

<% include partials/signup %>

<% include partials/footer %>
