:root {
  --main-bg-color: #fff;
  --font-color: #444;
  --primary: #0072be;
  --so-grey: #d6d9dc;
  --grey: #ccc;
  --white-alt: #f2f2f2;
  --navbar-bg-color: #333;
  --sidenav-wood: #329435;
  --sidenav-water: #3489ce;
  --sidenav-voltage: #b93228;
  --sidenav-logging: #555;
  --hr-color-tr: #00000000;
  --hr-color-black: #000000bf;
}

/**************************************
*************** CLASSES **************
**************************************/
body {
  background-color: var(--main-bg-color);
  margin: 0 2rem;
  color: var(--font-color);
  font-family: Arial, "Helvetica", sans-serif;
  overflow-x: hidden;
}

a,
a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  padding-left: 0px;
}

li {
  list-style: none;
  margin-top: 12px;
  padding-left: 16px;
  background-position: 0 calc((1.2em - 10px) / 2);
  background-repeat: no-repeat;
  background-size: auto 10px;
  background-image: url("data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22?%3E%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%207%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m0.72153%200.68446%204.1336%204.3077-4.1336%204.3077%22%20fill%3D%22none%22%20stroke%3D%22%23d6d9dc%22%20stroke-width%3D%222%22/%3E%3C/svg%3E");
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--hr-color-tr),
    var(--hr-color-black),
    var(--hr-color-tr)
  );
}

/**************************************
 **************** IDS *****************
 **************************************/
#latest-signups ul {
  list-style: "> ";
  padding-left: 2em;
}

/* Text Align Center */
#title {
  text-align: center;
}

@media (min-width: 601px) {
  .signup-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 0.5rem;
  }

  .container-flex {
    display: flex;
  }
}

.container {
  margin-top: 2rem;
  margin-right: 0;
  min-width: 10rem;
  overflow: hidden;
  padding: 0.5rem 1rem 1.5rem 1rem;
  position: relative;
  margin-left: 0;
  max-height: fit-content;
}

.container-border-full {
  box-shadow: 0 2px 8px rgba(59, 64, 69, 0.1);
  border-radius: 3px;
  border: 1px solid var(--so-grey);
}

.container-border-left {
  border-left: 1px solid var(--so-grey);
}

.container-border-right {
  border-right: 1px solid var(--so-grey);
}

.container-title {
  margin-top: 4rem;
}

.container-primary {
  border: 1px solid var(--primary);
}

.container-footer {
  margin-bottom: 2rem;
}

#wlms-side-widget {
  /* padding-top: 3.25rem; */
}

#canvas-side-widget {
  /* padding-top: 3.25rem; */
}

/**************************************
 *********** NAVIGATION MENU **********
 **************************************/

.navbar {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100vw; */
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--so-grey);
  border-left: 1px solid var(--so-grey);
  border-right: 1px solid var(--so-grey);
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  z-index: 20;
}

/* Navigation links */
.navbar a {
  color: var(--font-color);
  float: left;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:first-of-type {
  /* padding-left: 250px; */
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  background-color: inherit;
  border: none;
  color: var(--font-color);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 14px 16px;
  position: relative;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  color: var(--white-alt);
  background-color: var(--primary);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  background-color: var(--primary);
  border: 1px solid var(--grey);
  border-radius: 3px;
  display: none;
  max-width: 8rem;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

#products .subnav-content {
  max-width: 12rem;
}

/* Style the subnav links */
.subnav-content a {
  box-sizing: border-box;
  color: var(--white-alt);
  max-width: 8rem;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: var(--white-alt);
  color: var(--font-color);
  font-weight: 600;
  max-width: 100%;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/**************************************
 *************** CANVAS ***************
 **************************************/
#myCanvas {
  width: 80%;
  height: 400px;
}

/**************************************
 *************** SIDENAV **************
 **************************************/
/* Style the links inside the sidenav */
#mySidenav a {
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  color: var(--white-alt);
  font-weight: 600;
  font-size: 0.9rem;
  left: -14rem;
  overflow: hidden;
  padding: 1rem;
  padding-right: 2rem;
  position: absolute;
  text-decoration: inherit;
  transition: 0.3s;
  white-space: nowrap;
  width: 15rem;
  z-index: 10;
}

#mySidenav a:hover {
  left: 0;
}

#logging:before,
#water:before,
#wood:before,
#voltage:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

#logging {
  top: 58px;
  background-color: var(--sidenav-logging);
}

#water {
  top: 118px;
  background-color: var(--sidenav-water);
}

#wood {
  top: 178px;
  background-color: var(--sidenav-wood);
}

#voltage {
  top: 238px;
  background-color: var(--sidenav-voltage);
}
